<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'>
  <div>
    <input type="text" id="name" value="Name">
    <input type="text" id="email" value="Email">
    <input type="text" id="password" value="Password">
    <input type="submit" value="Sign Up">
  </div>
</form>

